@use "../styles/variables" as *;

.activity-booking-system {
    background: var(--color-white);
    border-radius: 15px;
    max-width: 1440px;
    overflow: hidden;
    width: 100%;

    @media (max-width: $wide-screen-breakpoint) {
        border-radius: 0;
    }
}