.day-selector-carousel {
    display: flex !important;
    height: 90px;
    padding: 20px 0 !important;
    position: static;
    width: 100%;

    &__slide {
        display: flex !important;
        justify-content: flex-start;
        gap: 2px;
        position: static;
        width: fit-content;
    }

    :global {
        .swiper-button-next,
        .swiper-button-prev {
            background-color: var(--color-white) !important;
            background-image: url('/src/assets/day-selector-carousel/day-selector-carousel-arrow.svg') !important;
            background-position: 50%;
            background-repeat: no-repeat;
            border-radius: 7px;
            height: 48px;
            width: 48px;
        }

        .swiper-button-prev {
            left: 16px;
            transform: rotate(180deg);
        }

        .swiper-button-next {
            right: 16px;
        }

        .swiper-button-disabled {
            background-color: transparent !important;
            background-image: url('/src/assets/day-selector-carousel/day-selector-carousel-arrow--disabled.svg') !important;
        }
    }
}