@use "../../../styles/breakpoints" as *;

.day-selector-carousel {
    display: flex !important;
    height: 90px;
    padding: 20px 0 !important;
    position: static;
    width: 100%;

    @media (max-width: $small-screen-width) {
        height: 80px;
    }

    &__slide {
        display: flex !important;
        justify-content: flex-start;
        gap: 2px;
        position: static;
        width: fit-content;
    }

    :global {
        .swiper-button-next,
        .swiper-button-prev {
            background-color: var(--color-white) !important;
            background-image: url('/src/assets/day-selector-carousel/day-selector-carousel-arrow.svg') !important;
            background-position: 50%;
            background-repeat: no-repeat;
            border-radius: 7px;
            height: 48px;
            transform: translateY(-50%) !important;
            margin: 0;
            width: 48px;

            @media (max-width: $small-screen-width) {
                background-size: 24px;
                border-radius: 4px;
                bottom: 0;
                height: 36px;
                top: unset;
                width: 36px;
            }
        }

        .swiper-button-prev {
            left: 16px;
            right: unset;
            transform: translateY(-50%) rotate(180deg) !important;

            @media (max-width: $small-screen-width) {
                left: 20px;
                transform: translateY(-50%) rotate(180deg) !important;
            }
        }

        .swiper-button-next {
            left: unset;
            right: 16px;

            @media (max-width: $small-screen-width) {
                right: 20px;
                transform: translateY(-50%) !important;
            }
        }

        .swiper-button-disabled {
            background-color: transparent !important;
            background-image: url('/src/assets/day-selector-carousel/day-selector-carousel-arrow--disabled.svg') !important;
        }
    }
}