@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  // Colours
  --color-black: #000;
  --color-white: #fff;
  --color-primary-accent: #114490;
  --color-secondary-accent: #E7ECF4;
  --color-tertiary-accent: #163278;

  --font-primary: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
  --font-secondary: 'Open Sans', Arial, sans-serif;

  --spacing-normal: 1%;
  --spacing-extra: 2%;

  --transition-speed: 0.2s;

  font-family: var(--font-primary);
  color: var(--color-black);
  letter-spacing: var(--spacing-normal);
}

body {
  margin: 0;
}

h1, h2 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
}