@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  // Colours
  --color-black: #000;
  --color-white: #fff;

  --color-text-primary: #2b2b2b;

  --color-accent-primary: #114490;
  --color-accent-secondary: #E7ECF4;
  --color-accent-tertiary: #F9FAFB;
  --color-available: #D1F9F3;
  --color-fully-booked: #F9D1D2;

  --font-primary: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
  --font-secondary: 'Open Sans', Arial, sans-serif;

  --spacing-normal: 1%;
  --spacing-extra: 2%;

  --transition-speed: 0.2s;

  font-family: var(--font-primary);
  color: var(--color-black);
  letter-spacing: var(--spacing-normal);
}