body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
}

fieldset {
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

th, td {
  padding: 0;
}
