.day-selector {
    position: relative;

    &__inner {
        background-color: var(--color-primary-accent);
        position: relative;
    }

    &__info {
        background-color: var(--color-secondary-accent);
        color: var(--color-primary-accent);
        display: flex;
        font-size: 1.125rem;
        font-weight: 700;
        padding: 14px 24px;
    }
}