.day-selector {
    color: red;

    &__info {
        background-color: var(--color-secondary-accent);
        color: var(--color-primary-accent);
        display: flex;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: var(--spacing-normal);
        padding: 14px 24px;
    }
}