@use "../../styles/breakpoints" as *;

.day-selector {
    position: relative;

    &__inner {
        background-color: var(--color-accent-primary);
        padding: 0 100px;
        position: relative;

        @media (max-width: $small-screen-width) or (max-height: $small-screen-height) {
            padding: 10px 20px 46px;
        }
    }

    &__info {
        background-color: var(--color-accent-secondary);
        color: var(--color-accent-primary);
        display: flex;
        font-size: 1.125rem;
        font-weight: 700;
        padding: 14px 24px;

        @media (max-width: $small-screen-width) or (max-height: $small-screen-height) {
            font-size: 0.966rem;
            padding: 16px 20px;
        }
    }
}