.search-results {
    padding: 32px 16px 16px;
    
    &__filters {
        display: flex;
        gap: 16px;
    }

    &__grid {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 32px;
    }
}